.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

.content {
  padding: 2em;
}

.example-container {
  max-height: 100%;
}
