<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Waste: the Web.config utility</span>
  <span class="example-spacer"></span>
  <button mat-button>SAVE</button>
  <button mat-button>RESET</button>
  <button mat-icon-button class="example-icon" aria-label="Close Application button" (click)="onCloseButton()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
