<div class="container">

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="!panelOpenState" aria-expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Preset Choice</mat-panel-title>
        <mat-panel-description>Properties selected by the preset</mat-panel-description>
      </mat-expansion-panel-header>

      <table class="example-full-width" cellspacing="0">
        <tr *ngFor="let node of (requestedNodes$ | async)">
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Key</mat-label>
              <input matInput readonly [value]="node.getAttribute('key')">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Value</mat-label>
              <input matInput [value]="node.getAttribute('value')">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          All the other keys
        </mat-panel-title>
        <mat-panel-description>
          Settings that weren't specified in the preset, but present on file
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="example-full-width" cellspacing="0">
        <tr *ngFor="let node of (allOtherNodes$ | async)">
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Key</mat-label>
              <input matInput readonly [value]="node.getAttribute('key')">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Value</mat-label>
              <input matInput [value]="node.getAttribute('value')">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
